p{
    padding-top: 10px;
    font-size: 60px;
    font-weight: bolder;
}

.fa{
    background-color: rgb(72, 130, 206);
    height: 530px;
    width: 40%;
    text-align: center;
    margin-left: 33%;
}

.se{
    background-color: white;
    height: 350px;
    width: 50%;
    text-align: center;
    margin-left: 26%;
    padding-top: 2px;
}

input{
    background-color: rgb(248, 247, 245);
    border: 1px solid rgb(113, 164, 231);
}

.button1{
    background-color: rgb(29, 111, 219);
    border: 3px solid rgb(26, 110, 219);
    padding-left: 67.5px;
    padding-right: 67.5px;
}
.button2{
    background-color: darkgreen;
    border: 3px solid darkgreen;
}