.fa{
    background-color: rgb(0, 110, 253);
    height: 450px;
    text-align: center;
    padding-top: 170px;
    /* background-image: url(img/art.png); */
    background-size: 200px;
}
.se{
    text-align: center;
    margin-left: 600px;
    background-color: rgb(48, 123, 223);
    width: 200px;
    height: 190px;
    box-shadow: 10px 10px 10px white;
}
.th{
    margin-left: 70px;
}
.fr{
    padding: 5px;
    padding-left: 75px;
    padding-right: 80px;
    background-color: rgb(55, 236, 55);
    border: 2px solid rgb(55, 236, 55);
    border-radius: 5px;
    
}